@media (max-width: 600px) {

    #topsect {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
            "middle-top"
            "left"
            "right"
            "middle-bottom";
    }

    /* #topsect > div {
        border: 1px solid black;
    } */

    /* Optional: remove forced widths/borders if things look squished */
    #topsect > div, #topsect h1, #topsect form {
        width: 100%;
        /* border: none; */
    }
    .uisect {
        flex-direction: column;
    }
    /* .lg_tbls {
        display: flex;
        flex-direction: column;
    } */
    .resptitle {
        font-size: 30px;
    }

    .respsect h2 {
        font-size: 26px;
    }

    .resprow {
        flex-direction: column;
    }

    .resptbls {
        width: 100%;
    }
}