@media (max-width: 600px) {
    /* #top_players {
        display: none;
    } */
    #titlesect {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #titlesect > div {
        width: 100%;
        /* border: 1px solid black; */
    }
    .uisect {
        flex-direction: column;
    }

    .resptitle {
        font-size: 30px;
    }

    .respsect h2 {
        font-size: 26px;
    }

    .resprow {
        flex-direction: column;
    }

    .resptbls {
        width: 100%;
    }
}