/* FULL SCREEN CROSSAIR POSITIONING */
/* body::before,
body::after {
  content: "";
  position: fixed;
  background: rgba(0, 0, 0, 0.449);
  z-index: 9999;
  pointer-events: none;
}

body::before {
  top: 0;
  bottom: 0;
  left: 50%;
  width: 1px;
}

body::after {
  left: 0;
  right: 0;
  top: 50%;
  height: 1px;
} */

/* BORDERS ON OFF */
/* #topsect > * {
    border: 1px solid black;
} */

/* GLOBAL TABLE */
table {
    color: rgb(236, 237, 255);
    border: 3px solid black;
    width: 100%;
    border-radius: 5px;

}
table thead {
    border-right: 1px solid black;
}
table tr th,
table tr td {
    border: 1px solid black;
}

caption {
    font-size: 24px;
}

/* BUTTONS WITHIN A TABLE */
table button {
    border: none;
    color: rgba(211, 224, 241, 0.779);
    font-size: 16px;
    text-decoration: underline;
    background-color: inherit;
    width: 100%;
    height: 100%;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.449);
}

/* MAKE SELECTS APPEAR CENTERED IN THE UI DIV */
select {
    width: 100%;
    max-width: 100%;
}

/* BBALL HEADER */
.bhdr {
  display: grid;
  grid-template-columns: 1fr auto 1fr; /* left | center | right */
  align-items: center;
  margin: 0 auto;
}

.bhdr > div {
    align-self: start;
}

/* left side hugs left */
.left {
  justify-self: start;
  display: flex;
  gap: 1rem;
}

/* middle perfectly centered */
.center {
  justify-self: center;
}

/* right side hugs right */
.right {
  justify-self: end;
  display: flex;
  gap: 1rem;
}

/* ERROR MESSAGE */
.err {
    display: none;
}

/* OUTER GRID DIV FOR TOP SCORERS TABLE, TITLE, UI */
#topsect {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: fit-content fit-content fit-content; */
    grid-template-areas:
    "left middle right";
    /* "left middle-bottom right"; */
    gap: 10px;
    padding: 5px;
}

#site_title {
    font-size: 54px;
    font-weight: bold;
    color:blanchedalmond;
    margin: 0 auto;
    width: fit-content;
    height: fit-content;
    max-width: fit-content;
    margin-top: 10px;
    align-self: end;
}

.lg_tbls {
    display: flex;
    flex-direction: row;
}

#top_players {
    grid-area: left;
    align-self: start;
}

#top_lg_players {
    grid-area: right;
}

.tstbl {
    width: 95%;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 5px;
}

#lgts_title {
    margin: 0 auto;
    font-size: 24px;
    color: white;
}

/* UI SECTION - MAIN SELECTORS, CHECKBOXES, BUTTONS, SEARCH BOX, ETC */
#ui {
    border: 3px solid black;
    border-radius: 7px;
    grid-area: middle;
    display: grid;
    margin: 0 auto;
    height: fit-content;
    width: fit-content;
    padding: 10px;
    max-width: fit-content;
    align-self: end;
    gap: 10px;
}

.uirowouter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
}

.uiopt {
    display: flex;
    flex-direction: column;
    height: fit-content;
    max-width: 50%;
    width: 50%;
}

.uiel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    max-width: 100%;
}

#search_group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: fit-content;
    max-width: 100%;
}
/* RESPONSE CLASSES */
/* meant to be outermost of response */
.respouter {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    gap: 1%;
    width: 100%;
} 

.resptitle {
    grid-column: 1 / -1;
    /* border: 3px solid black;
    border-radius: 7px; */
    color: rgb(232, 225, 235);
    font-size: 40px;
    font-weight: bold;
    margin: 0 auto;
    width: fit-content;
    padding: 10px;
}

/*  response section, takes up half of screen */
.respsect {
    border: 3px solid black;
    border-radius: 7px;
    padding: 1%;
    height: fit-content;
    align-items: center;
}

.respsect h2 {
    color: rgb(236, 237, 255);
    font-size: 30px;
}

.respsect h3 {
    color: rgb(236, 237, 248);
    font-size: 26px;
} 

/* div and img both necessary for player/team images! */
.respimgs {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.respimgs div {
    width: 50%;
}

.respimgs img {
    width: 100%;
}

.btm {
    margin-top:35px;
    font-size: 16px;
    color: rgb(236, 237, 255);
}
