#topsect {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: fit-content fit-content fit-content;
    grid-template-areas:
    "left middle-top right"
    "left middle-middle right"
    "left middle-bottom right";
    gap: 10px;
    padding: 5px;
}

/* #topsect > * {
    border: 1px solid black;
} */

#ttl {
    font-size: 54px;
    font-weight: bold;
    color:blanchedalmond;
    margin: 0 auto;
    width: fit-content;
    height: fit-content;
    max-width: fit-content;
    margin-top: 10px;
    align-self: start;
}

.lg_tbls {
    display: flex;
    flex-direction: row;
}

#top_players {
    grid-area: left;
}

#top_lg_players {
    grid-area: right;
}

#titlesect h1 {
    grid-area: middle-top;
}
.top_sect_tbls button {
    border: none;
    color: rgba(211, 224, 241, 0.779);
    /* color: rgba(212, 128, 177, 0.779); */
    font-size: 16px;
    text-decoration: underline;
    background-color: inherit;
    width: 100%;
    height: 100%;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.449);
}

.tstbl {
    width: 95%;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 5px;
}
table thead {
    border-right: 1px solid black;
}

#lgts_title {
    margin: 0 auto;
    font-size: 24px;
    color: white;
}

#under_ttl {
    grid-area: "left middle-middle right";
    align-self: end;
}

#ui {
    border: 3px solid black;
    border-radius: 7px;
    grid-area: middle-bottom;
    display: grid;
    margin: 0 auto;
    height: fit-content;
    width: fit-content;
    padding: 10px;
    max-width: fit-content;
    align-self: start;
    gap: 10px;
}

/* 
#ui > * {
    border: 1px solid white;
} */

.uirowouter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
}

.uirow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
}

.uisect {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.uiopt {
    display: flex;
    flex-direction: column;
    height: fit-content;
}

#pSearchBtns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: fit-content;
    max-width: 100%;
}

.err {
    display: none;
}

/* meant to be outermost of response */
.respouter {
    /* border: 2px solid black; */
    margin: 0 auto;
    margin-bottom: 10px;
} 

.resptitle {
    color: rgb(232, 225, 235);
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 1%;
    margin-top: 1%;
}

/* for side by side divs */
.resprow {
    /* border: 2px solid pink; */
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 95%;
    gap: 1%;
}

.respsect {
    border: 3px solid black;
    border-radius: 7px;
    /* border: 3px solid white; */
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    gap: 10px;
    /* max-width: fit-content; */
}

.respsect h2 {
    color: rgb(236, 237, 255);
    font-size: 30px;
}

.respsect h3 {
    color: rgb(236, 237, 248);
    font-size: 26px;
} 

.respblk {
    /* border: 3px solid magenta; */
    display: flex;
    flex-direction: column;
    width: 100%;
}

.respimgs {
    /* border: 3px solid black; */
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.respimgs div {
    /* border: 2px solid purple; */
    width: 50%;
}

.respimgs img {
    width: 100%;
    max-width: 100%;
}

.resptbls {
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    /* width: 90%; */
    max-width: 100%;
}

.resptbl {
    /* border: 2px solid yellow; */
    width: 100%;
}

table {
    color: rgb(236, 237, 255);
    border: 3px solid black;
    width: 100%;
    border-radius: 5px;

}

table tr th,
table tr td {
    border: 1px solid black;
}

 caption {
    font-size: 24px;
}

.btm {
    margin-top: 2%;
    font-size: 16px;
    color: rgb(236, 237, 255);
}