@media (max-width: 600px) {

    .bhdr {
        display: grid;
        grid-template-columns: 1fr; /* left | center | right */
        align-items: center;
        margin: 0 auto;
    }

    .left {
        display: none;
    } 

    .right {
        display: none;
    } 

    .bhdr {
        width: 100%;
    }

    #topsect {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "top"
            "mid"
            "btm";
    }
    
    #top_players {
        grid-area: top;
    } 

    #top_lg_players {
        grid-area: mid;
    }

    #ui {
        grid-area: btm;
    }

    #topsect > div, #topsect h1, #topsect form {
        width: 100%;
    }
    .uisect {
        flex-direction: column;
    }
    
    .resptitle {
        font-size: 30px;
    }

    .respsect h2 {
        font-size: 26px;
    }

    .resprow {
        flex-direction: column;
    }

    .resptbls {
        width: 100%;
    }

    .respouter {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }


}