@media (max-width: 600px) {

    #titlesect {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
            "middle-top"
            "left"
            "right"
            "middle-bottom";
    }

    /* Optional: remove forced widths/borders if things look squished */
    #titlesect > div, #titlesect h1, #titlesect form {
        width: 100%;
        /* border: none; */
    }
    .uisect {
        flex-direction: column;
    }
    /* .lg_tbls {
        display: flex;
        flex-direction: column;
    } */
    .resptitle {
        font-size: 30px;
    }

    .respsect h2 {
        font-size: 26px;
    }

    .resprow {
        flex-direction: column;
    }

    .resptbls {
        width: 100%;
    }
}