/* body {
} */

.ui {
    margin: 0 auto;
    margin-top: 20px;
    max-width: 80%;
}
.ui-cont {
    margin: 0 auto;
    margin-top: 20px;
    max-width: 80%;
}
.resp h1 {
    color: rgb(232, 225, 235);
    font-size: 40px;
}

.resp h2 {
    color: rgb(236, 237, 255);
    /* color: rgb(201, 182, 200); */
    font-size: 30px;
}

.resp h3 {
    color: rgb(236, 237, 248);
    /* color: rgb(193, 214, 159); */
    font-size: 26px;
    margin-top: 0;
    margin-bottom: 0;
}

.btns {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: center;
    /* align-items: center; */
    /* margin: 0 auto; */
    /* gap: 2px; */
    vertical-align: middle;
}

.btn {
    font-size: 22px;
    align-content: center;
    /* max-width: 35%; */
}

.selects {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    /* gap: 5%; */
    /* vertical-align: middle; */
}

.slct {
    /* margin-top: 2%; */
    display: flex;
    flex-direction: column;
    /* height: 30px; */
}

#all_selects {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    width: 100%;
    /* border: 2px solid cyan; */
}

.resp {
    /* border: 2px solid black; */
    margin: 0 auto;
    margin-bottom: 10px;
}

.main {
    display: flex;
    flex-direction: row;
    max-width: 100%;
}

.res {
    display: flex;
    flex-direction: column;
}

.plimgs {
    display: flex;
    align-items: center;
}

.plimgs div {
    width: 50%;
}

.plimgs img {
    width: 100%;
}

table {
    width: 100%;
    max-width: 100%;
    color: rgb(236, 237, 255);
    border: 3px solid black;
}

table tr th,
table tr td {
    border: 1px solid black;
}

.sect_plr {
    display: flex;
    flex-direction: column;
    gap: 4%;
    max-width: 100%;
    width: 75%;
    margin-bottom: 15px;
    
    /* max-width:50%; */
    /* height: auto; */
    
}

.err {
    display: none;
}

.sect_plr div {
    width: 100%;
}

caption {
    font-size: 24px;
}

.btm {
    margin-top: 2%;
    font-size: 16px;
    color: rgb(236, 237, 255);
}