.hdr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hdr div {
    align-items: flex-end;
    font-size: 18px;
}

body {
    text-align: center;
}


.ui {
    margin: 0 auto;
    margin-top: 20px;
    max-width: 80%;
}

.btns {
    display: flex;
    flex-direction: row;
    max-width: 90%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 2px;
    margin-top: 15px;
    vertical-align: middle;
}

.btn {
    font-size: 22px;
    align-content: center;
}

.res {
    display: flex;
    flex-direction: column;
}

.plimgs {
    display: flex;
    align-items: center;
}

.plimgs div {
    width: 50%;
}

.plimgs img {
    width: 100%;
}

.main {
    border: 3px solid brown;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    /* width: 98%; */
    /* margin: 0 auto; */
    /* gap: 10px; */
}

.sect {
    display: flex;
    width:50%;
    max-width: 50%;
    height: auto;
}

table {
    width: 100%;
    border: 3px solid black;
}

table tr th,
table tr td {
    border: 1px solid black;
}

.sect_plr {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width:50%;
    height: auto;
    gap: 5%;
    /* border: 4px solid magenta; */
}

.err {
    display: none;
}

.sect_plr div {
    width: 100%;
    /* border: 2px solid white; */
}

/* .sect_plr table {
    width: 100%;
} */

caption {
    font-size: 24px;
}
