@media (max-width: 600px) {
    header {
        display: none;
    }

    .ui {
        display: none;
        max-width: 100%;
    }

    .sect_plr {
        max-width: 100%;
    }

    /* pre final */
    .row {
        flex-direction: column;
    }
    .row div {
        margin: 0 auto;
    }
    
    .btns {
        /* flex-direction: column; */
        flex-wrap: wrap;
    }
    
    .main {
        flex-direction: column;       
    }
}