/* HEADER SECTION */
.disclaimer {
    text-align: right;   
    color: rgba(240, 111, 111, 0.822);   
}

body {
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}
/*
body > div, form {
    border: 2px solid black;
}

div > div {
    border: 1px dashed black;
}*/
/* 
div > div > div {
    border: 1px dashed red;
} */


/* MODE SELECTORS SECTION
- add in links to different pages like leaderboards, player, etc
*/

.ui {
    margin: 0 auto;
    margin-top: 20px;
    max-width: fit-content;
}

.modes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 80%;
    justify-content: center;
    margin: 0 auto;
    gap: 20px;
}

.mode {
    font-size: 20px;
    text-align: center;
}

.mode label {
    font-size: 20px;
}

.mode select {
    font-size: 14px;
    
}

.mode option {
    font-size: 12px;
}

.btns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 80%;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 20px;
    margin-top: 15px;
}

.btn {
    font-size: 22px;
    align-content: center;
}

/* DEFAULT DASHBOARD SECTION ON LOAD
- make reusable classes for tables/pictures
*/

.main {
    display: flex;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    max-width: 100%;
    width: 98%;
    /* width: fit-content; */
    /* justify-content: center; */
    margin: 0 auto;
    gap: 20px;
    margin-top: 15px;
    /* border: 20px solid burlywood */
}

.sect_pl {
    /* display: flex; */
    width: 50%;
    max-width:50%;
    height: auto;
    gap: 20px;
}

.sect {
    display: flex;
    /* width:0%; */
    max-width: 50%;
    height: auto;
    gap: 20px;
    /* border: 10px solid cyan; */
}

.blk {
    /* border: 10px solid purple; */
    width: 100%;
    max-width: 100%;
    height: auto;
}

.blk div {
    /* border: 5px solid pink; */
    margin-bottom: 15px;
    align-self: start;
}

.blk table {
    
    width: 100%;
}

table {
    border: 3px solid black;
}

table tr th,
table tr td {
    border: 1px solid black;
}

.sect_pl img {
    width: 400px;
    /* max-height: 25%; */
    /* border: 5px solid black; */
}

@media (max-width: 600px) {
    .main {
        flex-direction: column;       
    }
    .sect {
        flex-direction: column;
    }

    .blk {
        width: 100%;
    }
}
/* #ts-shtg {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
} */

/* #recent-games {
    font-size: 16;
} */

/* #top-scorer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 30%;
} */

/* #top-scorer img {
    max-width: 30%;
    height: auto;
    display: block;
} */




/* TABLES