/* HEADER SECTION */
.disclaimer {
    text-align: right;   
    color: rgba(240, 111, 111, 0.822);   
}

body {
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

/* MODE SELECTORS SECTION
- add in links to different pages like leaderboards, player, etc
*/

.ui {
    margin-top: 20px;
}

.modes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 80%;
    justify-content: center;
    margin: 0 auto;
    gap: 20px;
}

.mode {
    font-size: 20px;
    text-align: center;
}

.mode label {
    font-size: 20px;
}

.mode select {
    font-size: 14px;
    
}

.mode option {
    font-size: 12px;
}

.btns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 80%;
    justify-content: center;
    margin: 0 auto;
    gap: 20px;
    margin-top: 15px;
}

.btn {
    font-size: 22px;
}

/* DEFAULT DASHBOARD SECTION ON LOAD
- make reusable classes for tables/pictures
*/

#main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 80%;
    justify-content: center;
    margin: 0 auto;
    gap: 20px;
    margin-top: 15px;
}

#recent-games {
    font-size: 16;
}

#top-scorer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 40%;
}

#top-scorer.img {
    width: 100%;
    height: auto;
    display: block;
}




/* TABLES