/* HEADER SECTION */
.disclaimer {
    text-align: right;   
    color: rgba(240, 111, 111, 0.822);   
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 5px solid black; */
}

.row div {
     /* border: 2px solid black; */
    font-size: 18px;
}

body {
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}
/*
body > div, form {
    border: 2px solid black;
}

div > div {
    border: 1px dashed black;
}*/
/* 
div > div > div {
    border: 1px dashed red;
} */


/* MODE SELECTORS SECTION
- add in links to different pages like leaderboards, player, etc
*/

.ui {
    margin: 0 auto;
    margin-top: 20px;
    max-width: 80%;
}

.modes {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    max-width: 50%;
    justify-content: space-between;
    margin: 0 auto;
    /* gap: 20px; */
}

.mode {
    font-size: 20px;
    text-align: center;
}

.mode label {
    font-size: 20px;
}

.mode select {
    font-size: 14px;
    
}

.mode option {
    font-size: 12px;
}

.btns {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    max-width: 50%;
    /* align-content: center; */
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    gap: 2px;
    margin-top: 15px;
    vertical-align: middle;
}

.btn {
    font-size: 22px;
    align-content: center;
}

/* DEFAULT DASHBOARD SECTION ON LOAD
- make reusable classes for tables/pictures
*/

.main {
    display: flex;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    max-width: 100%;
    width: 98%;
    /* width: fit-content; */
    /* justify-content: center; */
    margin: 0 auto;
    gap: 10px;
    margin-top: 15px;
    /* border: 20px solid burlywood */
}



.sect {
    display: flex;
    width:50%;
    max-width: 50%;
    height: auto;
    /* gap: 5px; */
    /* border: 10px solid cyan; */
}

.blk {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.tbls {
    display: flex;
    flex-direction: column;
    gap:20px;
    max-width: 100%;
    
    /* border: 5px solid maroon; */
}

.tbls table {
    width: 70%;
}

.blk div {
    /* border: 5px solid pink; */
    margin-bottom: 15px;
    align-self: start;
}

/* .blk table {
    
    width: 70%;
} */

table {
    border: 3px solid black;
}

table tr th,
table tr td {
    border: 1px solid black;
}

.sect_pl {
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width:50%;
    height: auto;
    align-items: flex-end;
    /* border: 5px solid mediumaquamarine; */
}

.sect_pl div {
    /* border: 3px solid purple; */
    width: 70%;
    /* justify-content: flex-end; */
}

.sect_plr {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width:50%;
    height: auto;
    align-items: flex-start;
    gap: 5%;

    /* border: 5px solid mediumaquamarine; */
}

.sect_plr div {
    /* border: 3px solid purple; */
    width: 70%;
    /* justify-content: flex-end; */
}
.sect_pl img {
    /* width: 550px; */
    width: 65%;
    /* max-height: 25%; */
    /* border: 5px solid black; */
}

img {
    width: 65%;
}

#player_title {
    width: 100%;
}

.sect_plr table {
    width: 100%;
}

caption {
    font-size: 24px;
}

@media (max-width: 600px) {
    .row {
        flex-direction: column;
    }
    .row div {
        margin: 0 auto;
    }
    
    .modes, .btns {
        /* flex-direction: column; */
        flex-wrap: wrap;
    }
    
    .main {
        flex-direction: column;       
    }
    .sect, .blk {
        flex-direction: column;
        width: 100%
    }

    .blk {
        width: 100%;
    }
}
/* #ts-shtg {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
} */

/* #recent-games {
    font-size: 16;
} */

/* #top-scorer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 30%;
} */

/* #top-scorer img {
    max-width: 30%;
    height: auto;
    display: block;
} */




/* TABLES