.env
*.env
*gouser.sql
*keys.txt
.security
static/*.png
static/archive
tmp/
.vscode/
ref/
z_log/
wiki/public/
proxy/ssl/
proxy/*.conf
persist_data/
dkr/nginx/ssl/
dkr/nginx/.htpasswd
dkr/db/dump
.DS_Store
b_users.sql
dkr/cloudflare/**/*.json
dkr/cloudflare/**/*.pem
archive/
node_modules/