@media (max-width: 600px) {
    header {
        font-size: 8px;
        /* display: none; */
    }

    .hdr div {
       align-items: flex-end;
       font-size: 14px;
    }

    .ui {
        /* display: none; */
        max-width: 100%;
        /* border: 2px solid yellow; */
    }
    .selects {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 100%;
        /* justify-content: center; */
        align-items: center;
        margin: 0 auto;
        /* border: 2px solid magenta; */
    }

    
    .slct {
        /* max-width: 50%; */
        max-width:200px;
        width:100%;

    }

    #all_selects div {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    label {
        display: none;
    }
    .sect_plr {
        max-width: 100%;
    }
    
    caption {
        font-size: 16px;
    }

    .resp h1, h1 {
        font-size: 30px;
    }

    .resp h2, h2 {
        font-size: 28px;
    }

    .resp h3, h3 {
        font-size: 26px;
    }
    

    /* pre final */
    .row {
        flex-direction: column;
    }
    .row div {
        margin: 0 auto;
    }
    
    .btns {
        flex-wrap: wrap;
    }
    
    .main {
        flex-direction: column;       
    }
}