.pagedesc {
    color: rgb(168, 189, 224);
    margin: 0 auto;
    /* margin-top: 10px; */
    font-size: 24px;
    font-weight: bold;
    max-width: 70%;
}

/*repo section*/
.links {
    border: 3px solid rgba(0, 0, 0, 0.61);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 5px;
    margin: 0 auto;
    width: 90%;
}

.links > div {
    border: 1px dashed rgb(238, 168, 168);
    padding: 10px;
    max-width: 100%;
}

/* grid columns - hide different classes to expand for smaller screens */
.linkname {
    grid-column: 1;
}

.linkdesc {
    grid-column: 2;
}

.linkurl {
    grid-column: 3;
}
/* FLEX SIDE BY SIDE FOR INFO SECTIONS */

.infoflex {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 90%;
}

.infoflex > div {
    margin: 0 auto;
    border: 1px dashed rgb(238, 168, 168);
    max-width: 45%;
}

/*
about element that has a header, short description, and a button to expose a longer description
*/
.mainel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.secel {
    margin: 0 auto;
    align-items: center;
    /* width: 60%; */
}

.mainel .secel > div {
    margin-bottom: 30px;
}

