/* about pages smaller screens */
@media (max-width: 600px) {
  
    .links {
        max-width: 100%;
    }

    .pagedesc {
        max-width: 100%;
    }

    .infoflex {
        flex-direction: column;
        max-width: 100%;
    }

    .infoflex > div {
        max-width: 100%;
    }
}