name: Replace localhost URLs
on:
  push:
    branches:
        - ci
jobs:
  replace:
    runs-on: ubuntu-latest
    permissions:
        contents: write
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with: 
          fetch-depth: 0

      - name: Replace localhost with production URL
        run: python3 ./scripts/ci/localhost_to_prod.py

      - name: Commit changes if any
        run: ./scripts/ci/check_git_diff.sh