name: Replace localhost URLs
on:
  push:
    branches:
        - ci
        - mac
        - main
  pull_request:
jobs:
  replace:
    runs-on: ubuntu-latest
    permissions:
        contents: write
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with: 
          fetch-depth: 0

      - name: Replace localhost with production URL
        # run: python3 ./scripts/ci/localhost_to_prod.py local
        run: |
          if [[ "${GITHUB_REF_NAME}" == "main" || "${GITHUB_REF_NAME}" == "ci" ]]; then
              ./scripts/ci/replace.py
          elif [[ "${GITHUB_REF_NAME}" == "mac" ]]; then
              ./scripts/ci/replace.py local
          else
              echo "No replacement needed for branch ${GITHUB_REF_NAME}"
          fi


      - name: Commit changes if any
        run: ./scripts/ci/check_git_diff.sh