/* GRID FOR ALL ELEMENTS BEFORE RESPONSE */
.static_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content;
    grid-template-areas:
    'l ttl r'
    'l d r'
    'l lg_imgs r'
    't . r'
    't jumpbtns r'
    't m r'
    't err r'
    't . r'
    '. . r'
    'resp resp resp'
    ;
    gap: 10px;
    width: fit-content;
    padding: 5px;
    margin: 0 auto;

}

#lg_imgs {
    grid-area: lg_imgs;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    height: min-content;
    margin: 0 auto;
    justify-content: center;
    padding: 10px;
}

/* ERROR MESSAGE */
.err {
    display: none;
}

/* MAIN TITLE TEXT */
#site_title {
    grid-area: ttl;
    font-size: 54px;
    font-weight: bold;
    color:blanchedalmond;
    margin: 0 auto;
    height: min-content;
}

/* for div containing a table and buttons that control it */
.tablewithbtns {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 100%;
}

#disclaimer {
    grid-area: d;
}

/* GROUP OF BUTTONS */
.btnshoriz {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%
}

#seemorelessbtns {
    grid-area: seemore;
}

#mobilebtns {
    grid-area: jumpbtns;
}

button {
    height: fit-content;
}

/* TABLE STYLING */
table {
    color: rgb(236, 237, 255);
    border: 3px solid black;
    width: 100%;
    border-radius: 5px;

}
table thead {
    border-right: 1px solid black;
}
table tr th,
table tr td {
    border: 1px solid black;
}

caption {
    font-size: 22px;
    font-weight:lighter;
    text-decoration: underline;
    font-style:oblique;
    margin-bottom: 1px;
}

table button {
    border: none;
    color: rgba(211, 224, 241, 0.779);
    font-size: 16px;
    text-decoration: underline;
    background-color: inherit;
    width: 100%;
    height: 100%;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.449);
}

.ranktbl {
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 5px;
}

#top_players {
    grid-area: l;
    align-self: start;
}

#top_lg_players {
    grid-area: r;
}

#team_recs_tbl {
    grid-area: t;
}

select {
    width: 100%;
    max-width: 100%;
}


/* UI SECTION - MAIN SELECTORS, CHECKBOXES, BUTTONS, SEARCH BOX, ETC */
#ui {
    border: 3px solid black;
    border-radius: 7px;
    grid-area: m;
    display: grid;
    margin: 0 auto;
    height: fit-content;
    padding: 10px;
    align-self: end;
    gap: 10px;
    grid-template-areas: 
    'select_szns'
    'select_teams'
    'lg_radio_btns'
    'player_in'
    'clear' 'hold'
    'random' 
    ;
}

#select_szns {
    grid-area: select_szns;
}
#select_teams {
    grid-area: select_teams;
}
#lg_radio_btns {
    grid-area: lg_radio_btns;
}
#searchplayer {
    grid-area: player_in;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    width: fit-content;
}

#clearS {
    grid-area: clear;
}
#holdP {
    grid-area: hold;
}
#randP {
    grid-area: random;
}
.uirowouter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
}

.uiopt {
    display: flex;
    flex-direction: column;
    height: fit-content;
    max-width: 50%;
    width: 50%;
}

.uiel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    max-width: 100%;
}

/* RESPONSE CLASSES */
.response {
    grid-area: resp;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    gap: 1%;
    width: 100%;
} 

#resp_ttl {
    grid-column: 1 / -1;
    color: rgb(232, 225, 235);
    font-size: 40px;
    font-weight: bold;
    margin: 0 auto;
    width: fit-content;
    padding: 10px;
}

/*  response section, takes up half of screen */
.respsect {
    border: 3px solid black;
    border-radius: 7px;
    padding: 1%;
    height: inherit;
    align-items: center;
}

.respsect h2 {
    color: rgb(236, 237, 255);
    font-size: 30px;
}

.respsect h3 {
    color: rgb(236, 237, 248);
    font-size: 26px;
} 

/* div and img both necessary for player/team images! */
#dash_imgs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    align-items: center;
}

#dash_imgs img {
    width: 100%;
}

.resptbls {
    display: grid;
    border: 3px solid black;
    border-radius: 7px;
    padding: 1%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, fit-content);
    height: inherit;
}

#errmsg {
    display: none;
    grid-area: err;
}

.btm {
    margin-top:35px;
    color: rgb(236, 237, 255);
}