/* @media (min-width: 2200px) {
    .static_grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: min-content;
        grid-template-areas:
            't ttl r'
            'l m r'
            'l . r'
            'resp resp resp'
            ;
        justify-items: center;
    }

    #mobilebtns {
        display: none;
    }   
} */
@media (max-width: 1440px) {
    .static_grid {
        grid-template-columns: 1fr;

        grid-template-rows: auto;
        grid-template-areas:
            "rhdr"
            "ttl"
            "jumpbtns"
            "chdr"
            "t"
            "l"
            "r"
            "m"
            "resp";
        justify-items: center;
    }

    #mobilebtns {
        display: flex;
        flex-direction: row;
        grid-area: jumpbtns;
    }

    #seemorelessbtns {
        display: flex;
        flex-direction: row;
    }

    .response {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        max-width: 100%;
    }
    
    .resptitle {
        font-size: 30px;
    }

    .respsect h2 {
        font-size: 26px;
    }

    .resprow {
        flex-direction: column;
    }
}