/* crosshairs for dev */
body::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 1px;
  background: #00000000;
  transform: translateX(-50%);
}
body::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: 1px;
  background: #00000000;
  transform: translateY(-50%);
}

/* global body */
body {
    display: grid;
    text-align: center;
    background-color: darkslategrey;
    color: white;
    font-size: 18px;
    width: 100%;
}

/* header and footers - grid-template-columns set in js */
#hdr {
    display: grid;
    border-bottom: 1px solid black;
    padding: 0.5rem;
    grid-template-rows: 1fr;
    gap: 1rem;
}

#ftr {
    display: grid;
    border-top: 1px solid black;
    padding: 0.5rem;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: 1fr;
    gap: 1rem;
}

/* global h1-4 */
h1 {
    color:rgb(226, 201, 165);
    font-size: 44px;
}

h2 {
    color: rgb(219, 169, 123);
    font-size: 30px;
}

h3 {
    color: rgb(214, 198, 175);
    font-size: 32px;
    font-weight:normal;
    margin-bottom: 5px;
    margin-top: 20px;
}

h4 {
    color: rgb(214, 198, 175);
    text-align: center;
    font-size: 20px;
    font-weight:normal;
}

.textblk {
    color: rgb(217, 217, 217);
    font-size: 28px;
}

.sechdr {
    color: rgb(214, 217, 248);
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.sectionttl {
    font-size: 36px;
    margin: 0 auto;
    text-decoration: underline;
    margin-bottom: 1rem;
    width: fit-content;
}

/* LINK ANCHORS */ 
a {
    color: pink;
}

a.transpar {
    color: inherit;
}

a.big {
    font-size: 22px;
}

a.med {
    font-size: 18px;
}

/* ASCII decorator */
.decorator {
    margin: 10px;
    text-align: center;
}

/* INTRO BLOCK OF MAIN PAGE */
.intro {
    width: 65%;
    max-width: 100%;
    margin: 0 auto;/* centers the div */
    text-align: center;
}

.intro h1 {
    margin-bottom: 0;
}

/* used for index projects section, technologies */
.img_grid {
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-template-rows: 1fr;
    gap: 0.8rem;
    margin: 0 auto;
}
.img_grid > * {
    padding: .5rem;
    border-right: 1px solid black;
    border-left: 1px solid black;
    text-align: center;
}
.div_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.8rem;
    margin: 0 auto;
}

.div_grid > * {
    padding: .5rem;
    border-right: 1px solid black;
    border-left: 1px solid black;
    text-align: center;
}

/* used for music links */
.small_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.8rem;
    margin: 0 auto;
}

.small_grid > div {
    padding: 0.5rem;
    border-right: 1px solid black;
    border-left: 1px solid black;
    text-align: center;
}
/* pets pics */
figure img {
    max-width: 400px;
    width: 100%;
    height: auto;
    margin-top: 10px;
}

/* USED FOR MUSIC LINKS */
ul.nobullet {
    list-style-type: none; 
    margin: auto;
    padding: 0;
    margin-bottom: 15px;
    margin-top: 15px;
}


/* for items to place vertically outside of flexels */
.emphitem {
    margin: auto;
    width: 50%;
    max-width: 60%;
    text-align: center;
    align-items: center;
}
/* schematic screenshot */
.sch img{
    max-width: 60%;
    height: auto;
}

.pagedesc {
    color: rgb(168, 189, 224);
    margin: 0 auto;
    font-size: 24px;
    font-weight: bold;
    max-width: 70%;
}

/* text blocks */
.tbox_grid {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    max-width: 90%;
    gap: 1rem;
}

.tbox_grid > div {
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 98%;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.sysarch {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sysarch img {
    max-width: 85%;
}

footer {
    margin-top: 2rem;
    text-align: center;
    font-size: 20px;
}