@media (max-width: 550px) {
    .menu {
        font-size: 12px;
    }
}

@media (max-width: 800px) {
    iframe {
        width: 95%;
        height: auto;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 24px;
    }

    .middle,
    .right {
        display: none; /* hide original links */
    }

    .menu {
        /* font-size: 12px; */
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        align-items: start;
        justify-items: center;
        gap: 1rem;
    }

    .intro {
        width: 95%
    }
    
    .flexels {
    flex-direction: column; 
    align-items: center;
    display: flex;

    }

    .flexel,
    .emphitem {
        width: 95%;
        max-width: 100%;
    }

    ul.pics li {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    ul.pics li figure img {
        width: 100%;
    }

    .links {
        max-width: 100%;
    }

    .pagedesc {
        max-width: 100%;
    }

    .infoflex {
        flex-direction: column;
        max-width: 100%;
    }

    .infoflex > div {
        max-width: 100%;
    }
}