@media (max-width: 1300px) {
    .div_grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 850px) {
    body {
        margin: 0 auto;
        text-align: center;
    }
    iframe {
        width: 95%;
        height: auto;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 24px;
    }

    #hdr, #ftr {
        font-size: 12px;
    }
    
    .intro {
        width: 95%
    }
 
    .img_grid, .div_grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    ul.pics li {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    ul.pics li figure img {
        width: 100%;
    }

    .links {
        max-width: 100%;
    }

    .pagedesc {
        max-width: 100%;
    }

    .tbox_grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        max-width: 100%;
    }

    .sch img{
        max-width: 90%;
        height: auto;
    }
}